name: Build and release

on:
  workflow_dispatch:
  push:
    tags:
      - '*'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        goos: [ windows ]
        goarch: [ amd64, arm64 ]

    outputs:
      COMMIT_TAG: ${{ steps.commit-info.outputs.COMMIT_TAG }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
          check-latest: true

      - name: Get commit info
        id: commit-info
        run: |
          COMMIT_SHA_SHORT=$(git rev-parse --short HEAD)
          COMMIT_TAG=$(git describe --tags --abbrev=0)
          echo "COMMIT_SHA_SHORT=$COMMIT_SHA_SHORT" >> $GITHUB_ENV
          echo "COMMIT_TAG=$COMMIT_TAG" >> $GITHUB_ENV
          echo "COMMIT_TAG=$COMMIT_TAG" >> $GITHUB_OUTPUT

      - name: Build for ${{ matrix.goos }}/${{ matrix.goarch }}
        env:
          GOOS: ${{ matrix.goos }}
          GOARCH: ${{ matrix.goarch }}
          CGO_ENABLED: 0
          LDFLAGS: '-s -w -X main.build=${{ env.COMMIT_SHA_SHORT }} -X main.version=${{ env.COMMIT_TAG }} -H=windowsgui'
        run: |
          go version
          go build -ldflags="${{ env.LDFLAGS }}" -trimpath -o out/gohomo.exe .
          cd out
          zip -r gohomo-${{ matrix.goos }}-${{ matrix.goarch }}-${{ env.COMMIT_TAG }}.zip *
          cd ..

      - name: Upload build artifacts
        uses: actions/upload-artifact@v6
        with:
          name: gohomo-${{ matrix.goos }}-${{ matrix.goarch }}
          path: out/*.zip

  release:
    runs-on: ubuntu-latest
    needs: build

    permissions:
      contents: write

    steps:
      - name: Download all build artifacts
        uses: actions/download-artifact@v7
        with:
          path: bin

      - name: Generate version.txt
        run: echo -n "${{ needs.build.outputs.COMMIT_TAG }}" > bin/version.txt

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          files: |
            bin/**/*.zip
            bin/version.txt
          draft: false
          prerelease: false
          make_latest: true
          generate_release_notes: true